.content-left__mainfish {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.content-left__holdfish,
.content-left__livefish {
  background-color: rgba(238, 236, 236, 0.945);
  padding-top: 1rem;
  padding-left: 0.75rem;
  line-height: 0;
}

.content-left__holdfish__theme-dark,
.content-left__livefish__theme-dark{
  background-color: cyan;
}