.container {
    width: 100%;


}

.container__theme-dark,
.content-right__theme-dark {
    background-color: black;
    color: #fff;
}
.header{
    display: grid;
    grid-template-columns: 90% 10%;
}
.header {
    background-color: rgb(24, 172, 140);
    color: #fff;
    padding: 0.5rem;
}

.header__theme-dark {
    background-color: blue;
}

.content {
    display: grid;
    grid-template-columns: 24% 75%;
    grid-gap: 0.6rem;
}

.content-right {
    background-color: rgba(238, 236, 236, 0.945);
    height: 32.5rem;
    padding: 0.5rem;
}

.content-right__theme-dark {
    background-color: black;
}

.content-right__namefish {
    padding-left: 1.25rem;
}

.content-left__fish {
    line-height: 0.5;
}

.content-left__mainfish {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}

.content-left__holdfish,
.content-left__livefish {
    background-color: rgba(238, 236, 236, 0.945);
    padding-top: 1rem;
    padding-left: 0.75rem;
    line-height: 0;
}

.content-left__holdfish:hover {
    transition: 1s;
    background-color: cyan;
}

.content-left__livefish:hover {
    transition: 1s;
    background-color: cyan;
}


.content-left__holdfish__theme-dark,
.content-left__livefish__theme-dark {
    background-color: cyan;
}

.content-left__pop-fish {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 92%;
    grid-gap: 0.5rem;
}

.pop-fish {
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: rgba(238, 236, 236, 0.945);
    padding: 0.625rem;
}

.pop-fish:hover {
    background-color: cyan;
    transition: 1s;
}

.pop-fish__theme-dark {
    background-color: cyan;
}

.pop-fish__button {
    margin-top: 0.875rem;
    background-color: gray;
    border: none;
}

.footer-fish {
    display: flex;
    background-color: rgba(238, 236, 236, 0.945);
    padding: 0.5rem;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.footer-fish__theme-dark {
    color: #fff;
    background-color: black;
}

.loader {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: conic-gradient(lightgray, transparent);
    animation: rotating 1s linear infinite;
}

.loader::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background: white;
}

@keyframes rotating {
    from {
        transform: rotate(360deg);

    }

    to {
        transform: rotate(0deg);
    }
}